<p>
  <strong><%=t(:Commenter)%>:</strong>
  <%= comment.commenter %>
</p>
  
<p>
  <strong><%=t(:Comment)%>:</strong>
  <%= comment.body %>
</p>
  
<p>
  <%= link_to t(:Destroy_Comment), [comment.article, comment],
               method: :delete,
               data: { confirm: t(:Are_you_sure?) } %>
</p>