<% I18n.locale = :ja%>
<h1><%=t(:Listing_articles)%></h1>
<span id="command" type="hidden"></span>
<table>
  <tr>
    <th><%= t(:Title)%></th>
    <th><%= t(:Text)%></th>
    <th></th>
  </tr>
 
  <% @articles.each do |article| %>
    <tr>
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= link_to t(:Show), article_path(article) %> |</td> 
      <td><%= link_to t(:Edit), edit_article_path(article) %> |</td>
      <td><%= link_to t(:Destroy), article_path(article),
              method: :delete,
              data: { confirm: t(:Are_you_sure?) } %></td>
    </tr>
  <% end %>
  <%= link_to t(:New_article), new_article_path %>
</table>